body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: repeating-linear-gradient(
    135deg,
    #034c4e,
    #117579 10px,
    #46988a 10px,
    #46988a 20px
  );
  /* background: url('https://source.unsplash.com/random/1920%C3%971200/?nature') */
  /* no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  /* min-height: 100vh; */
}

.flashcard {
  min-width: 550px;
  text-align: center;
}

.front {
  display: inline-block;
  width: 100%;
  font-weight: lighter;
}

.back {
  cursor: pointer;
  height: 250px;
}

.next,
.done,
.restart,
.delete-confirm,
.edit-back {
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.deck {
  padding: 0px 10px;
  font-size: 16px;
}

.stackoverflow a {
  color: #666;
  font-size: 13px;
}

.stackoverflow a:hover,
.wand:hover,
.deck:hover,
.edit-btn:hover,
.new-card-add:hover,
.delete-check:hover {
  color: #117579;
  cursor: pointer;
  text-decoration: none;
}
.highlight,
.nav-overnotes,
.intro-footer {
  color: #117579;
}

.deck-title {
  padding: 0px 10px;
  font-size: 16px;
}

.deck-name {
  color: #fff;
  /* cursor: pointer; */
  font-size: 26px;
  font-weight: bold;
  background-color: #117579;
  /* text-shadow: 2px 2px 5px black; */
}

.deck-edit {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.deck-edit:hover {
  color: #46988a;
  cursor: pointer;
}

.title {
  padding: 20px;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 12px;
  font-weight: lighter;
}

.progress {
  min-width: 500px;
  height: 10px;
}

li {
  font-size: 16px;
}

textarea {
  min-height: 150px;
}

.new-card {
  margin: 10px;
  font-size: 14px;
}

.new-card-text {
  font-size: 14px;
}

.delete-cross {
  margin-left: 5px;
}

.intro-text {
  font-size: 16px;
}

.small-btn {
  margin: 5px;
}

.new-card-add {
  margin: 5px;
  font-size: 16px;
}

.main {
  min-width: 590px;
}

.stackoverflow {
  margin-bottom: 12px;
  text-align: left;
}

#stackoverflow-title {
  color: #fff;
  font-size: 15px;
  background-color: #117579;
}
